
*{
    padding:0px;margin:0px;box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
img{
    max-width: 100%;
}

.upperPortion{
    padding: 0% 8% 0% 8%;
}

header .logo{
    float:left;
}

header .navigationTab{
    float:right;
    padding-top:3%;
    
}
.navigationTab a{
    margin-right:15px; 
    text-decoration: none;
    color: black;
    font-size: 18px;
}
nav a:hover{
    border: 1px solid black;
    padding: 3px;
}
nav a.ankerLast{
    margin-right:0%;
    text-decoration: none;
}
.banner{
    background-image: url("banner.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 12%;
    text-align: center;
    margin-bottom: 3%;
    
}
.banner h1{
    margin-bottom: 2%;
    font-size: 40px;
    font-weight: bold;
}

.postBanner{
    text-align: center;
    padding: 0% 10% 0% 10%;
    margin-bottom: 1%;
}

h3{
    margin-bottom: 2%;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

   

.button a{
    background-color: #d6d427; 
    border: none;
    color: black;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 14px;
  }

.line{
    margin-bottom: 3%;
    margin-top: 1%;
    border-bottom: #f2f2f2 solid 1px;
}

.services{
    float:left;
    width:23%;
    margin-right:30px;
    margin-bottom:4%;
}
.services p{
    font-size: 13px;
}

.last_services{
    float:left;
    width:23%;
}
.last_services p{
    font-size: 13px;
}

h4{
    margin-top: 5%;
    margin-bottom:3%;
}

.aboutUs{
    float: left;
    width: 55%;
    margin-right: 5%;
    margin-top: 10%;
}
.aboutUs h2{
    font-size: 43px;
    font-weight: lighter;
    margin-top: 4%;
    margin-bottom: 6%;
    padding-right: 5%;
}
.aboutUs p{
    color: #615f5f;
}
.Button a{
    background-color: white; 
    border: black solid 1px;
    color: black;
    padding: 14px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: lighter;
    margin-top: 6%;
    font-size: 15px;
}


.aboutImage{
    float:right;
    width: 38%;
    margin-right: 2%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.question{
    background-image: url("qurestions-banner.jpg");
    background-size: 120%;
    background-repeat: no-repeat;
    padding: 8%;
    text-align: center;
    margin-bottom: 3%;
}
.question h1{
    margin-bottom: 2%;
    font-size: 40px;
    font-weight: bold;
}
.question p{
    padding:0% 30% 0% 30%;
    margin-bottom: 1%;
}
.question a{
    background-color: #f1da0b; 
    border: none;
    color: black;
    padding: 16px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: lighter;
    margin-top: 3%;
    font-size: 14px;
    border-radius: 5%;
}
.preTabletext{
    padding: 0px 2% 0px 2%;
}

.preTabletext h4{
    margin-bottom: 1%;
    font-weight: bold;
    font-size: 20px;}
.preTabletext p{
    margin-bottom: 1%;
}
table{
    width: 100%;
}
th{
    background-color: #e4dcdc;
    padding: 9px;
    font-size: 12px;
    text-align: left;
    border-bottom: black solid 1px;
}
td{
    padding: 6px;
    font-size: 12px;
    text-align: left;
    vertical-align: middle;
    border-bottom: #f2f2f2 solid 1px;
}










.clear{
    clear:both;
}